body {
    font-family: Arial, sans-serif;
    background: #C38FFA;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;

}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    color: #003366;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background: #e0e0e0;
}

button {
    padding: 8px 12px;
    background: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #003366;
}

.error {
    color: red;
    text-align: center;
}
